<h1>New initiative</h1>

<%if Portfolio.list_by_user(session[:user_id]).count==0%>
    Need a porfolio to tuck the initiative in, please
    <%=link_to "create one", new_portfolio_path%>
<%else%>
    <%= render 'form' %>

    <%= link_to 'Back', initiatives_path %>
<%end%>