<h1>Welcome</h1>
The Ctower framework eminates from the experience I and my colleagues have had in the field the last 10 years.
We have ran into systemic errors that are not easy to uncover. This framework is the railing we hold onto whilst working
in the field of change and execution.

<%=link_to "start page", start_index_path%>






