<div class="frontpage_item">
	<%=image_tag('goals.jpg',class: 'picture_with_wrap')%>
	<p class="picture_text"><b>It's About Reaching Your Goals</b><br/>
		The CTower approach helps align your organizations strategies and operative efforts with desired results. </p>	
</div>
<div class="frontpage_item">
	<%=image_tag('tower.jpg',class: 'picture_with_wrap')%>
	<p class="picture_text"><b>It's About Execution and Control</b><br>
	The CTower approach is inspired by the functionality of a real world control tower. Imagine an airport lacking this kind of collaborative functionality.<br/> You probably wouldn't want to be in charge of that operation.</p>
</div>
<div class="frontpage_item">
	<%=image_tag('tpaper.jpg',class: 'picture_with_wrap')%>
	<p class="picture_text"><b>It's About Situation Awareness</b><br/>
		Unless you know you what kind of operative initiatives you have deployed and how they impact your objectives things could get ugly.
		You might find yourself in a position where you lack suffcient funding and resources to deliver on your promises.</p>
		
</div>
<div class="frontpage_item">
	<%=image_tag('success.jpg',class: 'picture_with_wrap')%>
	<p class="picture_text"><b>It's About Delivering All The Way</b><br/> 
		When you are in control and know how to maintain that control over time good things will happen.<br/>
		-Your organization will start delivering in a more timely fashion.<br/>
		-You will have a consistent story to communicate, backing your actions.<br/>
		-Work will be enoyable and energizing.<br/>
		-Your business clients will start treating you as a trusted partner instead of viewing you as a counterpart.</p>
</div>

